* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

html,
body {
  background-color: rgb(127, 141, 168);
}

button {
  cursor: pointer;
}

label {
  margin: 5px 0;
  font-weight: 600;
}

input,
#description,
#projectDescription,
.radio-container,
.radio-btns {
  flex: 1;
  width: 100%;
  padding: 4px;
  border: 1px solid rgb(236, 236, 236);
}

.radio-container,
.radio-btn-wrapper {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.radio-btn-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.label-container {
  display: flex;
  width: 80%;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 12px;
}

.radio-btn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.radio-container input[type="radio"] {
  width: 16px;
  height: 16px;
}

input {
  height: 30px;
  margin: 0 0 12px 0;
}

#description,
#projectDescription {
  height: 60px;
  resize: vertical;
}

.modal-container {
  position: absolute;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-width: 100%;
  top: 0;
  backdrop-filter: blur(16px);
  background-color: rgba(59, 78, 77, 0.336);
  display: flex;
}

.modal-header {
  margin: 20px 20px 0 20px;
  font-size: 1.9rem;
}

.modal-card {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 350px;
  width: 300px;
  background-color: white;
  border-radius: 12px;
}

.modal-background {
  min-height: 100vh;
  min-width: 100%;
  cursor: pointer;
}

.input-wrapper {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin: 20px;
}

.modal-btn-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.nav-btn,
.add-project-btn,
.project-tab {
  font-size: 1.2rem;
  text-align: left;
  text-indent: 25px;
  min-height: 40px;
  width: 100%;
  border: none;
  cursor: pointer;
  background: none;
}

.add-project-btn {
  background-color: rgb(207, 35, 35);
  color: antiquewhite;
}

.add-project-btn:hover {
  background-color: rgb(207, 35, 35);
  color: antiquewhite;
}

.nav-btn:hover,
.project-tab:hover {
  background-color: rgb(202, 202, 202);
}

.nav-btn:focus,
.project-tab:focus {
  background-color: rgb(207, 35, 35);
  color: antiquewhite;
}

.project-container {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.project-header,
.tab-header {
  margin: 15px;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-width: 100%;
}

.app-container {
  display: flex;
  flex-direction: row;
  flex: 1;
  max-width: 1200px;
  min-height: 80vh;
  margin: 30px 30px;
  background-color: rgb(255, 255, 255);
  border-radius: 22px;
}

aside {
  display: flex;
  flex-direction: column;
  flex: 1;
  max-width: 240px;
  border-radius: 20px 0 0 20px;
  background-color: rgb(231, 231, 231);
}

.tab-container,
ul {
  display: flex;
  flex-direction: column;
}

.tab-container {
  margin: 20px 0;
}

.section-right {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.app-content {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: rgb(255, 255, 255);
  border-radius: 0 25px 25px 0;
}

.app-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 100%;
  min-height: 75px;
  background-color: rgb(231, 231, 231);
  border-radius: 0 20px 0 0;
}

.new-task-btn,
.add-btn {
  background-color: rgb(207, 35, 35);
}

.cancel-btn {
  background-color: rgb(35, 187, 207);
}

.new-task-btn,
.add-btn,
.cancel-btn {
  border: none;
  padding: 12px;
  width: 105px;
  font-size: 1rem;
  font-weight: 700;
  color: antiquewhite;
  border-radius: 8px;
  margin: 0 22px;
}

.task-item {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 12px;
  margin: 12px 22px;
  border-radius: 12px;
  background-color: rgb(197, 197, 197);
}

.complete-btn {
  border: none;
  font-size: 0.8rem;
  font-weight: 700;
  background-color: rgb(42, 87, 46);
  color: antiquewhite;
  border-radius: 12px;
  padding: 12px;
}

.text-wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 12px;
}
